.form-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 1%;
}

.feed-form {
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
}

.feed-form input {
    height: 54px;
    border-radius: 5px;
    background: grey;
    margin-bottom: 15px;
    border: none;
    padding: 0 20px;
    font-weight: 300;
    font-size: 20px;
    color: #000
}

.button_submit:hover,
.feed-form input:hover {
    transform: scale(1.009);
    box-shadow: 0px 0px 3px 0px #000000;
}

.button_submit {
    width: 100%;
    height: 54px;
    font-size: 14px;
    color: white;
    background: hsl(86, 45%, 54%);
    border-radius: 5px;
    border: none;
    font-weight: 500;
    text-transform: uppercase;
}