.card {
    width: 190px;
    height: 254px;
    background: grey;
    border: 1px solid white;
    box-shadow: 10px 10px 64px 0px rgba(180, 180, 207, 0.75);
    -webkit-box-shadow: 10px 10px 64px 0px rgba(186, 186, 202, 0.75);
    -moz-box-shadow: 10px 10px 64px 0px rgba(208, 208, 231, 0.75);
}

.form-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
}

.form {
    padding: 20px;
    width: 30%;
    height: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.card_header {
    display: flex;
    align-items: center;
}

.card svg {
    color: hsl(86, 45%, 54%);
    margin-bottom: 20px;
    margin-right: 5px;
}

.form_heading {
    padding-bottom: 20px;
    font-size: 21px;
    color: hsl(86, 45%, 54%);
}

.field {
    padding-bottom: 10px;
}

.input {
    border-radius: 5px;
    background-color: #e9e9f7;
    padding: 5px;
    width: 100%;
    color: black;
    border: 1px solid #dadaf7
}

.input:focus-visible {
    outline: 1px solid #aeaed6;
}

.input::placeholder {
    color: #000;
}

label {
    color: #000;
    font-size: 14px;
    display: block;
    padding-bottom: 4px;
}

button {
    background-color: hsl(86, 45%, 54%);
    margin-top: 10px;
    font-size: 14px;
    padding: 7px 12px;
    height: auto;
    font-weight: 500;
    color: white;
    border: none;
}

button:hover {
    background-color: hsl(86, 45%, 54%);
}